<div class="row identification">
    <div class="headerNastyLogo small-12 medium-3 columns">
        <a href="#"><img src="#" alt="nastyCo.de Logo"></a>
    </div>
    <div class="discoverNastycode small-12 medium-3 columns">
        <a href="#">Découvrir les nastycodes</a>
    </div>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="small-12 medium-4 columns">
            <div class="right">
                <div class="connected dropdown" data-dropdown="connected-drop" aria-controls="connected-drop">
                   {% if user.pictureName %}
                        <img src="{{ asset(user.getWebPath()) }}" class="icon-user" alt="profile picture">
                    {% else %}
                        <img src="{{ asset('bundles/nastycodefront/img/userpic.png') }}" class="icon-user" alt="profile picture">
                    {% endif %}
                    <p>{{ user.username }}</p>
                </div>

                <!-- <button data-dropdown="drop" aria-controls="drop", aria-expanded="false" class="large alert round button dropdown">Dropdown Button</button><br> -->
                <ul id="connected-drop" data-dropdown-content class="f-dropdown" role="menu" aria-hidden="false" aria-autoclose="false" tabindex="-1">
                    <li><a href="{{ path ('nastycode_front_account_account') }}">Mon compte</a></li>
                    <li><a href="{{ path('nastycode_front_posts_posts') }}">Ajouter un nastyCode</a></li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="right small-12 medium-4 columns">
            <div class="right">
                <div class="not_connected">
                    <a data-dropdown="drop-connexion" aria-controls="drop-connexion" aria-expanded="false">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    <a data-dropdown="drop-inscription" aria-controls="drop-inscription" aria-expanded="false">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                    
                    <div id="drop-connexion" data-dropdown-content class="f-dropdown content" aria-hidden="true" aria-autoclose="false" tabindex="-1">
                        {{ render(controller('NastycodeUserBundle:Security:login')) }}
                    </div>
                    
                    <div id="drop-inscription" data-dropdown-content class="f-dropdown content" aria-hidden="true" aria-autoclose="false" tabindex="-1">
                        {{ render(controller('NastycodeUserBundle:Registration:register')) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>