<div class="row identification">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <p class="right">
            <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        </p> 
    {% else %}
        <p class="right">
            <a data-dropdown="drop-connexion" aria-controls="drop-connexion" aria-expanded="false">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            <a data-dropdown="drop-inscription" aria-controls="drop-inscription" aria-expanded="false">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
            
            <div id="drop-connexion" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
                {{ render(controller('NastycodeUserBundle:Users:login')) }}
            </div>
            
            <div id="drop-inscription" data-dropdown-content class="f-dropdown content" aria-hidden="true" tabindex="-1">
                {{ render(controller('NastycodeUserBundle:Users:register')) }}
            </div>
        </p>
    {% endif %}
</div>