{% extends "::base.html.twig" %}
{% block body %}

	<section class="fullWidth orange myAccount">
		{% block menu %}
			{{ include("NastycodeFrontBundle::menu.html.twig") }}
		{% endblock %}
		<div class="row">
		  	<div class="small-12 columns">
			  	<div class="infoUser">
			  		<a href="#" data-reveal-id="editPicModal">
				  		<div class="userPic hide-for-small-only">
				  			<div class="editUserPic"></div>
                            {% if user.pictureName %}
                                <img src="{{ asset(user.getWebPath()) }}" alt="profile picture">
                            {% else %}
                                <img src="{{ asset('bundles/nastycodefront/img/userpic.png') }}" alt="profile picture">
                            {% endif %}
				  		</div>
			  		</a>
			  		<div class="user">
			  			<h2><a href="#" data-reveal-id="editInfoModal">{{ user.username }}</a></h2>
			  			<p><a href="#" data-reveal-id="editInfoModal">{{ user.email }}</a></p>
			  			<p><a href="#" data-reveal-id="editPasswordModal">&#8226; &#8226; &#8226; &#8226; &#8226; &#8226; </a></p>
			  		</div>
			  		<div id="editInfoModal" class="editInfoModal reveal-modal" data-reveal>
						<h4>Editer mon profil</h4>
						{{ render(controller('NastycodeUserBundle:Profile:edit')) }}
						<a class="close-reveal-modal">&#215;</a>
			  		</div>
			  		<div id="editPasswordModal" class="editPasswordModal reveal-modal" data-reveal>
						<h4>Modifier mon mot de passe</h4>
						{{ render(controller('NastycodeUserBundle:ChangePassword:changePassword')) }}
						<a class="close-reveal-modal">&#215;</a>
			  		</div>
			  		<div id="editPicModal" class="editPicModal reveal-modal" data-reveal>
						<h4>Modifiez votre image de profil</h4>
                        <div>
                            {{ render(controller('NastycodeFrontBundle:Account:upload')) }}
                        </div>
						<a class="close-reveal-modal">&#215;</a>
			  		</div>
			  	</div>
		  	</div>
		</div>
		<div class="row">
			<div class="small-12 medium-8 medium-centered columns">
				<div class="statsUser tabs" data-tab>
					<div class="circleStat"><a href="#panelstatPosts">{{ app.user.posts|length }}</a></div>
					<div class="circleStat active"><a href="#panelstatLikes">{{ app.user.likedposts|length }}</a></div>
					<div class="circleStat"><a href="#panelstatComments">{{ app.user.commentaires|length }}</a></div>
				</div>
			</div>
		</div>
		<section class="row yellow">
			<div class="small-12 medium-8 medium-centered columns">
				<div class="tabs-content">
					<div class="statPosts content" id="panelstatPosts">
					 	<h3>Vos nastyCodes</h3>
					 	<ul>
                            {% for post in app.user.posts %}
                                <li>
                                    <a href="{{ path('nastycode_front_posts_post', {'id': post.id}) }}">
                                        <div class="userPics" style="background-image: url('{% if post.user.pictureName is not null %}{{ asset('uploads/pictures/nastypic_' ~ post.member ~ '.jpg') }}{% else %}{{ asset('bundles/nastycodefront/img/userpic.png') }}{% endif %}'); background-repeat: no-repeat;">
                                            <span>{{ post.likes }}</span>
                                        </div>
                                        <div class="detailPost">
                                            <h4>{{ post.title }}</h4>
                                            <p>{{ post.commentaires|length }} commentaire{% if post.commentaires|length > 1 %}{{ 's' }}{% endif %}</p>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
					 	</ul>
					</div>
					<div class="statLikes content" id="panelstatLikes">
						<h3>nastyCodes que vous avez validés</h3>
						<ul>
                            {% for like in app.user.likedposts %}
                                <li>
                                    <a href="{{ path('nastycode_front_posts_post', {'id': like.post.id}) }}">
                                        <div class="userPics" style="background-image: url('{% if like.post.user.pictureName is not null %}{{ asset('uploads/pictures/nastypic_' ~ like.post.member ~ '.jpg') }}{% else %}{{ asset('bundles/nastycodefront/img/userpic.png') }}{% endif %}');">
                                            <span>{{ like.post.likes }}</span>
                                        </div>
                                        <div class="detailPost">
                                            <h4>{{ like.post.title }}</h4>
                                            <p>{{ like.post.commentaires|length }} commentaire{% if like.post.commentaires|length > 1 %}{{ 's' }}{% endif %}</p>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
						</ul>
					</div>
					<div class="statComments content" id="panelstatComments">
					 	<h3>Vous avez récemment commenté :</h3>
					 	<ul>
                            {% for commentaire in app.user.commentaires %}
                                <li class="comments">
                                    <a href="{{ path('nastycode_front_posts_post', {'id': commentaire.post.id}) }}">
                                        <div class="userPics" style="background-image: url('{% if commentaire.post.user.pictureName is not null %}{{ asset('uploads/pictures/nastypic_' ~ commentaire.post.member ~ '.jpg') }}{% else %}{{ asset('bundles/nastycodefront/img/userpic.png') }}{% endif %}'); background-repeat: no-repeat;">
                                            <span>{{ commentaire.post.likes }}</span>
                                        </div>
                                        <div class="detailPost">
                                            <h4>{{ commentaire.post.title }}</h4>
                                            <p>{{ commentaire.commentaires }}</p>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
					</div>
				</div>
			</div>
		</section>
	</section>

{% endblock %}

