{% if user.pictureName %}
    <img src="{{ asset(user.getWebPath()) }}" alt="profile picture">
{% else %}
    <img src="{{ asset('bundles/nastycodefront/img/userpic.png') }}" alt="profile picture">
{% endif %}

<form action="{{ path('upload_file') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="Uploader">
</form>