{% extends "::base.html.twig" %}
{% block body %}

	{% block menu %}
		{{ include("NastycodeFrontBundle::menu.html.twig") }}
	{% endblock %}
	<section class="fullWidth orange">
		<div class="row text-center logoIndex">
			<h1 class="nastyLogoLarge hide-for-small-only">
				<img src="{{ asset('bundles/nastycodefront/img/logo.png') }}" alt="NastyCo.de logo">
			</h1>
			<h2 class="lastyco">
				<img src="{{ asset('bundles/nastycodefront/img/lastyco.png') }}" alt="Lastyco">
			</h2>
			<h3 class="presentation">Nastycode, le site qui vous permet de partager vos &lt;codes&gt; les plus sales !</h3>
		</div>
		<div class="row text-center buttonDiscoverDesktop">
			<a href="{{ path('nastycode_front_posts_posts') }}" class="button">Découvrir</a>
		</div>
		
	</section>
	<section class="fullWidth darkBlue homeExemple">
		<div class="row">
			<div class="small-12 medium-8 small-centered columns">
				<h3>Comment ça marche ?</h3>
				<p>NastyCo.de vous permet de partager les codes les plus sales que vous rencontrez à travers vos différents projet web.</p>
				<p>Que ce soit le stagiaire, une équipe à l'autre bout du monde ou votre Lead Dev, partagez leurs nastyCodes sur le site, proposez une correction et laissez les internautes donner leurs avis !</p>
			</div>
		</div>
		<article>
			<div class="row">
				<div class="info-author-code small-12 columns">
					<div class="picUser">
						<img src="{{ asset('bundles/nastycodefront/img/userpic.png') }}" alt="profile picture"/>
					</div>
					<div class="descrCode">
						<h2><a href="#">Css problem code</a> <small>par John</small></h2>
                        <p>Voilà le premier nastyCode de notre stagiaire. Depuis il est au chomage...</p>
                    </div>
				</div>
			</div>
			<div class="row scriptsNastycode">
				<div class="small-12 medium-6 columns">
					<section>
						<header>
							<label>JS</label>
							<h5>K.O code.nasty</h5>
						</header>
						<code class="language-css">
div#sidebar {
    float: right;
    width: 365px;
    display: inline;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    background: #ddd;
    float: left;
}
</code>
					</section>
				</div>
				<div class="small-12 medium-6 columns">
					<section>
						<header>
							<label>JS</label>
							<h5>John propose cette correction</h5>
						</header>
						<code class="language-css">
//Au moins
//une petite
//explication ?
</code>
					</section>
				</div>
			</div>
		<p class="text-center">
			<a href="{{ path('nastycode_front_posts_posts') }}" class="button">Découvrir plus de nastyCodes</a>
			<a href="{{ path('nastycode_front_posts_addpost') }}" class="button">Publier un nastyCode</a>
		</p>
		</article>
	</section>

{% endblock %}

