{% extends "::base.html.twig" %}
{% block body %}

	<section class="fullWidth grey sectionAddPost">
		{% block menu %}
			{{ include("NastycodeFrontBundle::menu.html.twig") }}
		{% endblock %}
		<article>
            {{ form_start(form)}}
                <div class="row">
                    <div class="large-12 columns">
                        <label>Choisissez un langage
                            {{ form_widget(form.lang) }}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Titre de votre nastyCode
                            {{ form_widget(form.title) }}
                        </label>
                    </div>
                </div><div class="row">
                    <div class="large-12 columns">
                        <label>Desciption de votre nastyCode
                            {{ form_widget(form.description, {'attr': {'placeholder': 'Qui a écris ce code, dans quel contexte...', 'class': 'small-12.columns'}}) }}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Votre nastyCode
                            {{ form_widget(form.codenasty, {'attr': {'placeholder': 'Pour une meilleure lisibilté indentez correctement votre nastyCode.', 'class': 'small-12.columns'}}) }}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Proposez une correction de votre nastyCode
                            {{ form_widget(form.codeclean, {'attr': {'placeholder': '//Et vous ? vous l\'auriez codé comment ? Vous pouvez aussi ajouter des commentaires', 'class': 'small-12.columns'}})}}
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        {{ form_widget(form.envoyer) }}
                    </div>
                </div>
            {{ form(form) }}
        </article>
	</section>
{% endblock %}

