{% extends "::base.html.twig" %}
{% block body %}

	<section class="fullWidth grey sectionPosts">
		{% block menu %}
			{{ include("NastycodeFrontBundle::menu.html.twig") }}
		{% endblock %}
            {% for post in posts|sort %}
		<article>
                <div class="row">
                    <div class="info-author-code small-12 columns">
                        <div class="picUser">
                            <img src="{% if post.user.pictureName is not null %}{{ asset('uploads/pictures/nastypic_' ~ post.user.id ~ '.jpg') }}{% else %}{{ asset('bundles/nastycodefront/img/userpic.png') }}{% endif %}" alt="Profile Picture">
                        </div>
                        <div class="descrCode">
                            <h2><a href="{{ path('nastycode_front_posts_post', {'id': post.id}) }}">{{ post.title }}</a> <small>par {{ post.user.username }}</small></h2>
                            <p>{{ post.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="row scriptsNastycode">
                    <div class="small-12 medium-6 columns">
                        <section>
                            <header>
                                <label>{{ post.lang|upper }}</label>
                                <h5>{{ post.title }}</h5>
                            </header>
                                <code class="language-{{ post.lang }}">{{ post.codeNasty }}</code>
                                <div class="likePost" data-id="{{ post.id }}"><span>+1</span><p>Oui, ce code est Nasty.</p></div>
                        </section>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <section>
                            <header>
                                <label>{{ post.lang|upper }}</label>
                                <h5>{{ post.user.username }} propose cette correction</h5>
                            </header>
                            <code class="language-{{ post.lang }}">{{ post.codeClean }}</code>
                        </section>
                    </div>
                </div>
                <div class="row comments">
                    <div class="small-12 medium-6 columns">
                        <h4>{{ post.commentaires|length }} Commentaire{% if post.commentaires|length > 1 %}{{ 's' }}{% endif %}</h4>
                        {% for comment in post.commentaires %}
                        <div class="comment">
                            <div class="userpicComment">
                                <img src="{% if comment.user.pictureName is not null %}{{ asset('uploads/pictures/nastypic_' ~ comment.user.id ~ '.jpg') }}{% else %}{{ asset('bundles/nastycodefront/img/userpic.png') }}{% endif %}" alt="Profile Picture">
                            </div>
                            <div class="userComment">
                                <header>{{ comment.user.username }}</header>
                                <p>{{ comment.commentaires }}</p>
                            </div>
                        </div>
                        {% endfor %}
                        <p class="text-center">
                            <a href="{{ path('nastycode_front_posts_post', {'id': post.id}) }}">{% if post.commentaires|length > 3 %}{{ 'Voir tous les commentaires' }}{% endif %}</a>
                        </p>
                    </div>
                    <div class="small-12 medium-6 columns">
                        <h4>Ecrire un commentaire:</h4>
                        {% set comment = formcomments[loop.index0] %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {{ form_start(comment, {'attr': {'class': 'commentForm'}}) }}
                                <ul>
                                    <li class="commentFormArea">{{ form_widget(comment.commentaires) }}</li>
                                    <li class="commentFormsubmit">{{ form_widget(comment.envoyer) }}</li>
                                </ul>
                            {{ form_end(comment) }}
                        {% else %}
                            <p class="text-center">Pour poster un commentaire, <a href="{{ path('fos_user_security_login') }}">veuillez vous connecter</a>.</p>
                            <p class="text-center">Vous n'avez pas de compte ? <a href="{{ path('fos_user_registration_register') }}">Inscrivez-vous !</a></p>
                        {% endif %}
                    </div>
                </div>
		</article>
            {% endfor %}
	</section>

{% endblock %}

